.welcome-page {
   padding-bottom: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: auto;
   gap: 80px;
   overflow: hidden;
   min-height: 400px;
}

.grid {
   display: grid;
   gap: 10px;
}

.main--links {
}
